.BookItem {
  position: relative;
  padding: 3rem 3rem;
  border-bottom: 1px solid #e0e0e2;
  // display: flex;
  // gap: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: max-content 1fr max-content;

  @media (max-width: 56.5em) {
    flex-direction: column;
  }

  &__pic {
    width: 15rem;
    height: 20rem;
    flex-shrink: 0;
    align-self: center;
    @media (max-width: 56.5em) {
      margin: 0 auto;
    }
  }

  &__description {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &__container {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
    &__name {
      font-size: 1.4rem;
      font-weight: 600;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-height: 2.1; /* fallback */
      max-height: 2.1 * 2; /* fallback */
      font-size: 1.4rem;
      font-weight: 600;
    }

    &__key {
      font-size: 1.5rem;
      color: rgb(118, 119, 144);
    }

    &__longKey {
      font-size: 1.5rem;
      color: rgb(118, 119, 144);
    }

    &__icon {
      font-size: 1.5rem;
      color: #a1a3a8;
      flex-shrink: 0;
    }
  }

  &__btns {
    display: flex;
    align-self: flex-end;
    margin-right: auto;
    gap: 1rem;
  }

  &__btn {
    font-size: 1.4rem;
    color: #633b19;
    background-color: #fff;
    border: 1px solid #bb997c;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem 3rem;
    // flex-grow: 1;
    // flex: 50%;
    // width: 1rem;
    // height: 3rem;

    &:hover {
      background-color: #f4eee9;
    }
    @media (max-width: 56.5em) {
      position: relative;
    }
  }
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  color: #fff;
  background-color: #8d5524;
  font-size: 1.6rem;
  padding: 1rem 0;
  width: 15rem;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s linear 0s;
  border-style: none;

  &:before {
    content: "✓";
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: rgba(#fff, 0.3);
    border-radius: 0px 6px 6px 0px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }

  &:hover {
    text-indent: 30px;

    &:before {
      right: 0;
      text-indent: 0px;
    }
  }
}
