.sidebar {
  margin: 3rem;
  background-color: #fff;
  flex: 0 0 21%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  height: 77vh;
  position: sticky;
  border: 1px solid #e0e0e6;
}

.sidebar__sticky {
  position: sticky;
  top: 9%;
  margin: 3rem;
  background-color: #fff;
  flex: 0 0 21%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  height: 87vh;
  position: sticky;
  border: 1px solid #e0e0e6;
}

.user-info {
  margin: 4rem 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  color: #343a40;

  &__icon {
    font-size: 2rem;
  }
  &__description {
    display: flex;
    padding-right: 1.5rem;
    font-size: 1.6rem;
  }
  &__descriptions {
    padding-right: 1.5rem;
    font-size: 1.6rem;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__phone {
    color: rgb(102, 102, 102);
  }
  &__tokens {
    width: auto;
    background-color: rgb(232, 250, 240);
    background-color: #f4eee9;
    border: 1px solid #8d5524;
    color: #8d5524 !important;
    font-size: 15px;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-radius: 16px;
    padding: 12px 24px;
    margin: 15px 0px;
  }
}
.side-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;

  &__item {
    display: flex;
    align-items: center;
    padding: 0 2rem;

    &:hover {
      border-radius: 16px;
      background-color: #f1f3f5;
      color: #8d5524;
    }
  }
  &__icon {
    font-size: 2rem;
    color: #8d5524;
    margin-left: 1rem;
  }
  &__link:link,
  &__link:visited {
    font-size: 1.6rem;
    white-space: nowrap;
    color: #343a40;
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 1.5rem 1rem;
    position: relative;
    z-index: 10;
    transition: all ease-out 0.5s;

    display: flex;
    align-items: center;
    // &:hover {
    //   background-color: #f1f3f5;
    //   color: #8d5524;
    //   border-radius: 16px;
    // }

    // &__link:active {
    //   background-color: #f1f3f5;
    //   color: #8d5524;
    //   border-radius: 16px;
    // }

    // &--active {
    //   color: #8d5524;
    // }
  }

  // &__linkClicked {
  //   font-size: 1.6rem;
  //   white-space: nowrap;
  //   color: #343a40;
  //   text-decoration: none;
  //   text-transform: none;
  //   display: block;
  //   padding: 1.5rem 3rem;
  //   position: relative;
  //   z-index: 10;
  //   transition: all ease-out 0.5s;
  //   display: flex;
  //   align-items: center;
  //   background-color: #f1f3f5;
  //   color: #8d5524;
  //   border-radius: 16px;
  // }
}

.icon {
  margin-right: 1rem;
  color: #343a40;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.userImage {
  height: 7rem;
}

.link {
  text-decoration: none;
}
